
            h1{
                text-align: center;
            }
            #pantalla{
                width:960px; height:450px;
            margin: auto;
                border: groove 8px gold;
                background: lightgreen;   
            }
            #boton{
                background-color: red;
                color: white;
                font-size: 20px;
                text-align: center;
                font-weight: bolder;
                padding: 3px;
                border: solid 2px black;
            }
            #boton:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
                background-color: lightcoral;
                font-size: 22px;
                border: groove 4px red;
            }

            @media screen and (max-width: 700px){
   
#pantalla{
                width:500px; height:350px;
             
            }
}
